@model EmployeeViewModel
@* i need department repository in create and edit *@
@inject IDepartmentRepository _deprtmentRepo
@{
    // SelectList take items (departments that i send using viewData)
    // and take detected value and text
    var departments = new SelectList(/* @ViewData["Departments"] as IEnumerable<Department> */
                                     _deprtmentRepo.GetAll(),
                                    nameof(Department.Id),nameof(Department.Name));
                                    //     departmentId          department
}
<div>
    <label class="col-form-label" asp-for="Name"></label>
    <input type="text" asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div>
    <label class="col-form-label" asp-for="Age"></label>
    <input type="text" asp-for="Age" class="form-control" />
    <span asp-validation-for="Age" class="text-danger"></span>
</div>
<div>
    <label class="col-form-label" asp-for="Address"></label>
    <input type="text" asp-for="Address" class="form-control" />
    <span asp-validation-for="Address" class="text-danger"></span>
</div>
<div>
    <label class="col-form-label" asp-for="Salary"></label>
    <input type="text" asp-for="Salary" class="form-control" />
</div>
<div>
    <label class="col-form-label" asp-for="IsActive"></label>
    <input asp-for="IsActive" class="form-control" />
</div>
<div>
    <label class="col-form-label" asp-for="Gender"></label>
    <input asp-for="Gender" class="form-control" />
</div>
<div>
    <label class="col-form-label" asp-for="Email"></label>
    <input type="text" asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div>
    <label class="col-form-label" asp-for="PhoneNumber"></label>
    <input type="text" asp-for="PhoneNumber" class="form-control" />

</div>

<div>
    <label class="col-form-label" asp-for="IsDelete"></label>
    <input asp-for="IsDelete" class="form-control" />

</div>
<div>
    <label class="col-form-label" asp-for="HireDate"></label>
    <input asp-for="HireDate" class="form-control" />

</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Department"></label>
    @* drop down list=>Select *@
    @* asp-item take item that you want to render in select and display each one like foreach*@
    @* asp-item take departments *@
    @* asp-item take object of type select list so i must create one and send it to asp-item*@
    <select class="form-control" asp-items="departments" asp-for="DepartmentId">
        @* number of option equal to number of department *@
        @* each option have value the value that stored in database*@
        @* note we store DepartmentId of the department(value) *@
        @* and display the name of department *@
        @* value bind in asp-for departmentId  *@
        @* text bind in asp-for department in label  *@
        @* we must detect that in select list *@
        @* <option></option> *@
        @* value here is null as like as i didn't choose department *@
        <option value="null">--Select Department--</option>
    </select>
</div>