@* i will create depatment *@
@model Department
@{
    ViewData["Title"] = "Create";
}

<h1>Create New Department</h1>
<br />
<br />
@* this action will excute when click submet *@
@* default method is get *@
@* we change it to post because we add data to db *@
<form asp-action="Create" method="post">

    <div>
    <label class="col-form-label" for="Code">Code</label>
        @* دك براماتر اسمه كود عارفين ان اول مكان هيدور عليه فيه هوا الفورم هوا بيعرف انه هياخد الكود من الانبوت ده عن طريق ال  *@
        @* name of input that have the same name of paramater *@
        <input type="text" name="Code" id="Code" class="form-control"/>
        @* alert massage go to model and see error massage for code *@
        @* front take massge error that add in back and display it *@
        @* client side validation to reduce number of request to display  *@
        @* error without send requset to back and check validation  *@
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>

    <div>
        <label class="col-form-label" for="Name">Name</label>
        <input type="text" name="Name" id="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div> 
 
    <div>
        <label class="col-form-label" for="DateOfCertion">DateOfCertion</label>
        <input name="DateOfCertion" id="DateOfCertion" class="form-control" />
    </div>
    @* when you click this bottom he will excute action in form *@
    <input type="submit" value="Create" class="btn btn-primary mt-5"/>
    <a asp-action="Index" class="btn btn-light">Back To List</a>

</form>
