@* i will create department *@
@model Department
@{
    ViewData["Title"] = "Create";
}

<h1>Create New Department</h1>
<br />
<br />
@* this action will execute when click submit *@
@* default method is get *@
@* we change it to post because we add data to db *@
<form asp-action="Create">

    <div>
        <label class="col-form-label" asp-for="Code"></label>
        @* دك براماتر اسمه كود عارفين ان اول مكان هيدور عليه فيه هوا الفورم هوا بيعرف انه هياخد الكود من الانبوت ده عن طريق ال  *@
        @* name of input that have the same name of parameter *@
        <input type="text" asp-for="Code" class="form-control" />
        @* alert massage go to model and see error massage for code *@
        @* front take massage error that add in back and display it *@
        @* client side validation to reduce number of request to display  *@
        @* error without send request to back and check validation  *@
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>

    <div>
        <label class="col-form-label" asp-for="Name"></label>
        <input type="text" asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div> 
 
    <div>
        <label class="col-form-label" asp-for="DateOfCreation"></label>
        <input asp-for="DateOfCreation" class="form-control" />
    </div>
    @* when you click this bottom he will execute action in form *@
    <input type="submit" value="Create" class="btn btn-primary mt-5"/>
    <a asp-action="Index" class="btn btn-light mt-5">Back To List</a>

</form>

@section validateSection {
    @* <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script> *@
    @* <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script> *@
    <partial name="_ValidationScriptsPartial"></partial>
}