@model int
@* the data will send to this view is int *@
<td>
    @* if you in the same controller you didn't need to detect it *@
    @* when you click this bottom you must send the id that will open the requested department that you will update or delete or details *@
    @* asp-route-id: tag helper to send parameter id *@
    @* we write route of what property we went to select  *@
    @* he will return department that you will send your id *@
    @* if action in the same controller we can remove it  *@
    <a  asp-action="Details" asp-route-id="@Model" class="btn btn-warning">
        <i class="fas fa-eye"></i> @* to show aswame *@
        Details
    </a>
</td>
<td>
    @* when you click details bottom he will take id of this dep and send it to action *@
    @* go to details action and send id to his parameter *@
    <a asp-action="Edit" asp-route-id="@Model" class="btn btn-success">
        <i class="fas fa-edit"></i>Update
    </a>
</td>
<td>
    <a asp-action="Delete" asp-route-id="@Model" class="btn btn-danger">
        <i class="fas fa-trash"></i>Delete
    </a>
</td>