@model EmployeeViewModel

<h1>Create New Employee</h1>
<br />
<br />

@* enctype important to know him this form contain input file and you can deal with this *@
<form asp-action="Create" enctype="multipart/form-data">
    @* //we need to add the name of folder because this partial view not in shared folder *@
    <partial name="PartialView/CreateEditEmployeePartial"></partial>
    <input type="submit" value="Create" class="btn btn-primary mt-5"/>
    <a asp-action="Index" class="btn btn-light mt-5">Back To List</a>

   
</form>

@section validateSection{
    @* <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script> *@
    @* <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script> *@
    <partial name="_ValidationScriptsPartial"></partial>
}